.expense-item {
  padding: 0.7rem 1rem;
  margin: 1rem 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  background-color: #464545;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);

  border-radius: 12px;
}

.expense-item__description {
  display: flex;
  flex-flow: column-reverse;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1rem;
  flex: 1;
}

.expense-item h2 {
  margin: 0 1rem;
  font-size: 1rem;

  flex: 1;

  color: #e9e8e8;
}

.expense-item__price {
  padding: 0.5rem;

  display: flex;
  align-items: center;

  font-size: 1rem;
  font-weight: bold;

  color: #e9e8e8;
  background-color: #ff009560;

  border: 2px solid rgb(31, 31, 31);
  border-radius: 12px;
}

.expense-item__price_currency {
  margin-left: 2px;

  font-size: 1.5rem;
  font-weight: 500;

  line-height: 1.5rem;
}

/* delete axe styles */

.expense-item__delete_wrapper {
  padding: 3px 10px;

  position: absolute;
  top: 2px;
  right: 3px;

  display: flex;

  list-style: none;
}

.expense-item__delete_wrapper:hover {
  cursor: pointer;
}

.expense-item__delete_wrapper:hover>.expense-item__delete_item {
  background-color: #ff0095;
}

.expense-item__delete_item {
  width: 2px;
  height: 20px;

  background-color: #000;

  pointer-events: none;
  transition: all .2s;
}

.expense-item__delete_item:nth-of-type(1) {
  transform: rotate(45deg) translateX(1px);
}

.expense-item__delete_item:nth-of-type(2) {
  transform: rotate(-45deg) translateX(-1px);
}

/* delete confirmation styles */

.expense-item__delete_confirm-wrapper {
  position: absolute;
  top: 5px;
  right: 40px;

  display: flex;
  justify-content: space-between;
}

.expense-item__delete_button {
  padding: 3px 10px;

  border-radius: 8px 24px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  
  transition: all .2s;
}

.expense-item__delete_button:hover {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.expense-item__delete_button--cancel {
  color: rgba(233, 232, 232, 1);
  background-color: rgba(0, 0, 0, 0.6);
}

.expense-item__delete_button--confirm {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 0, 149, 0.6);
}

.expense-item__delete_button--cancel:hover {
  background-color: rgba(0, 0, 0, 1);
}

.expense-item__delete_button--confirm:hover {
  background-color: rgba(255, 0, 149, 0.9);
}

@media (min-width: 600px) {
  .expense-item__description {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .expense-item__description h2 {
    font-size: 1.25rem;
  }

  .expense-item__price {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }
}