.new-expense__controls {
  margin-bottom: 1rem;

  display: flex;
  flex-wrap: wrap;
  text-align: left;
  gap: 1rem;
}

.new-expense__control label {
  margin-bottom: 0.5rem;

  display: block;

  font-size: 1.15rem;
  font-weight: bold;
  letter-spacing: .5px;
}

.new-expense__control input {
  width: 20rem;
  max-width: 100%;

  padding: 0.5rem;

  font: inherit;

  border: 1px solid #ccc;
  border-radius: 6px;
}

.new-expense__actions {
  text-align: right;
}